/* Panel Management Header, Footer */
.subMiddlePanel{
    height: 85px;
    background-color: burlywood;
}

/* NavBar Panel Management */
.navMiddlePanel{
    background-color: cadetblue;
    text-align: center;
}

/* NavBar Dropdown Menu */

ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    z-index: 999;
    font-size: large;
}

li{
    display: inline-block;
}

li a{
    display: block;
    color: black;
    text-align: left;
    padding: 8px 8px;
    text-decoration: none;
    /* padding-right: 8px; */
}

li a:hover{
    background-color: red;
}

ul li ul{
    background-color: white;
    display: none;
    position: absolute;
    text-align: left;
    font-size: smaller;
}

ul li:hover ul{
    display: block;
}

li ul li{
    display: block;
}

.home a:hover{
    background-color: cadetblue;
}

/* Main Panel Management */
.middlePanel{
    height: 1500px;
    background-color: purple;
}

/* Body Management */
.body{
    background-color: gray;
}

/* TM Logo Management */
.tmLogo{
    width: 130px;
    height: 75px;
    margin-top: 5px;
}

/* Header Logos */
.sMediaLogos{
    width: 25px;
    height: 25px;
    margin-top: 50px;
    position: relative;
    left: 2%;
}

.pipeLogos{
    width: 25px;
    height: 25px;
    margin-top: 50px;
    position: relative;
    left: 2%;
}

.xLogo{
    width: 22px;
    height: 22px;
    margin-top: 50px;
    position: relative;
    left: 2%;
}

.searchLogo{
    width: 25px;
    height: 25px;
    margin-top: 3.5em;
    position: absolute;
    right: 5%;
}

/* Links Management */
.link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

a:hover{
    color: black;
}

a:link{
    color: black;
}